<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pingo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <%= link to: "/", class: "navbar-brand" do %>
            <%= tag(:img, src: static_path(@conn,"/images/pingo-logo.svg"), height: "40px") %>
          <% end %>
        </div>
        <ul class="nav navbar-nav pull-right">
          <%= if Guardian.Plug.current_resource(@conn) do %>
            <li class="nav-item"><%= link "Sair", to: "/logout" %></li>
          <% else %>
            <li class="nav-item"><%= link "Cadastre-se", to: "/registrations/new" %></li>
            <li class="nav-item"><%= link "Entrar", to: "/login" %></li>
          <% end %>
        </ul>
      </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
