<div class="jumbotron">
  <div class="container-fluid" style="text-align: center;">
    <%= tag(:img, src: static_path(@conn,"/images/pingo-logo.svg"), width: "400px") %>
    <p>Colabore para um mundo melhor com pingos de solidariedade!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Como contribuir? »</a></p>
  </div>
</div>
